:root {
  --primary-color-light-blue: rgba(82,131,194,1.0);
  --primary-color-deep-blue: rgba(28,34,42,1.0);
  --white-color: #fff;
  --border-color: #1f57a2b3;
}
html{
	background-color: var(--white-color) !important;
	font-family: Sans-serif;
}
body{
	background-color: var(--white-color) !important;
	font-family: Sans-serif;
}


/*Footer Style*/
.footer_logo{
	/*text-align: center;*/
}
.footer_logo>img{
	width: 250px;
}
.footer_header{
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}
footer .nav-item{
	margin-bottom: 2px;
	border-bottom: 1px solid #ddd;
}
footer .navbar-nav .nav-link{
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.3s;
}
footer .navbar-nav .nav-item:last-child{border: none;}
footer .navbar-nav .nav-link:hover{
	color: var(--primary-color-light-blue);
}


/*Graph CSS*/
/*.long_height{
			height: 310px;
			width: 10px;
			background-color: #5283c2;
			margin-left: 400px;
			position: absolute;
		    top: 28%;
		    left: 5%;
		}
		 .child_width:nth-child(1){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(1):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -178px;
		    bottom: -104px;
		    border-width: 0;
		    background: #5283c2;
		    width: 240px;
		    height: 4px;
		    transform: rotate(60deg);
	    }
	     .child_width:nth-child(2){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(2):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -168px;
		    bottom: -88px;
		    border-width: 0;
		    background: #5283c2;
		    width: 223px;
		    height: 4px;
		    transform: rotate(44deg);
	    }*/
	     /*.child_width:nth-child(3){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(3):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -178px;
		    bottom: -104px;
		    border-width: 0;
		    background: #5283c2;
		    width: 240px;
		    height: 4px;
		    transform: rotate(60deg);
	    }
	     .child_width:nth-child(4){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(4):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -178px;
		    bottom: -104px;
		    border-width: 0;
		    background: #5283c2;
		    width: 240px;
		    height: 4px;
		    transform: rotate(60deg);
	    }
	     .child_width:nth-child(5){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(5):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -178px;
		    bottom: -104px;
		    border-width: 0;
		    background: #5283c2;
		    width: 240px;
		    height: 4px;
		    transform: rotate(60deg);
	    }
	     .child_width:nth-child(6){
	      	font-size: 10em;
		    display: inline-block;
		    width: 15px;
		    box-sizing: content-box;
		    height: 15px;
		    background-color: transparent;
		    margin: 10px 0;
		    border: 5px solid #5283c2;
		    position: absolute;
		    position: relative;
		    border-radius: 0.35em;
		    left: -220px;
		    top: -95px;
		    transform: rotate(-28deg);
	    }
	    .child_width:nth-child(6):before {
	      	content: "";
		    display: inline-block;
		    position: absolute;
		    right: -178px;
		    bottom: -104px;
		    border-width: 0;
		    background: #5283c2;
		    width: 240px;
		    height: 4px;
		    transform: rotate(60deg);
	    }*/